{
  "presets": ["next/babel", "@emotion/babel-preset-css-prop"],
  "plugins": [
    "inline-react-svg",
    "@babel/syntax-dynamic-import",
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}
